*{
  font-family: 'Hahmlet';
}
.number{
  font-size: 50px;
  color:red;
  font-weight: bold;
  margin-left: 100px;
}
.line{
  border : 3px solid gray;
  padding: 5px;
  text-align: center;
  font-family: 'Black Han Sans';
  font-size: 25px;
  margin-bottom: 5px;
}

div.circle-wrap{
  display: flex;
  /* justify-content: space-between; */
}

div.circle{
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border: 1px solid gainsboro;
  border-radius: 100px;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
}