.number{
  font-size: 40px;
  color: red;
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 30px;
  text-shadow: 5px 5px 5px gray;
  font-family: 'Playfair Display';
}
.selectApp{
  font-family: 'Hahmlet';
}
.photo{
  position: absolute;
  top:250px;
  left:400px;
}
.greenline{
  border-radius: 80px 3px 80px 0;
  margin-left: 30px;
  padding: 5px 10px;
  border-width: 10px;
}